* {
    font-family: "Poppins";
}

:root {
    --primary-color: #059DC0;
}

html, body {
    height: 100%;
    width: 100%;
}

.text-blue {
    color: #059DC0;
}

.text-green {
    color: #05A393;
}

.bg-blue {
    background-color: #059DC0;
}

.bg-green {
    background-color: #05A393;
}


h3 {
    text-align: center;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    margin: 1rem !important;
}

.phone-img {
    width: 300px
}

.screens {
    margin-top: 50px;
}

section.screen-section {
    margin-bottom: 50px;
    padding: 20px;
}

.screen-text-container {
    width: 250px;
}

.screen-text {
    font-weight: 700;
    text-align: center;
    font-size: 1.1em;
}

.screen-subtitle {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.6);
    text-align: justify;
}

.success-case-container {
    height: 350px;
    margin: 50px;
}

.success-case-container .carousel-item {
    display: flex;
    justify-content: center;
}

.success-case-container .comment-container {
    padding: 50px;
    width: 60%;
}

.success-case-container .comment-container h3 {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.success-case-container .comment-container .quote {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2em;
    padding: 20px;
}

.success-case-container .comment-container .quotes {
    font-size: 80px;
    font-weight: 700;
    position: absolute;
    color: rgba(0, 0, 0, 0.6);
}

.success-case-container .comment-container .quotes:first-child {
    left: 0;
    top: -30px;
}

.success-case-container .comment-container .quotes:last-child {
    top: -30px;
    right: 0;
}

.success-case-container .comment-container .coach {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.success-case-container .comment-container .coach-category {
    display: block;
    color: var(--primary-color);
}

.success-case-container .carousel-item .image-container img {
    height: 100%;
    object-fit: contain;
}


@media (max-width: 768px) {
    .success-case-container {
        height: 550px;
    }

    .success-case-container .carousel-item {
        display: flex;
        flex-direction: column;
    }

    .success-case-container .comment-container {
        padding: 20px;
        width: 100%;
    }

    .success-case-container .carousel-item .image-container {
        display: flex;
        justify-content: center;
    }

    .success-case-container .carousel-item .image-container img {
        height: 200px;
    }
}