* {
    font-family: "Poppins";
}

:root {
    --primary-color: #059DC0;
}

html, body {
    height: 100%;
    width: 100%;
}

.text-blue {
    color: #059DC0;
}

.text-green {
    color: #05A393;
}

.bg-blue {
    background-color: #059DC0;
}

.bg-green {
    background-color: #05A393;
}


h3 {
    text-align: center;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    margin: 1rem !important;
}

.phone-img {
    width: 300px
}

.screens {
    margin-top: 50px;
}

section.screen-section {
    margin-bottom: 50px;
    padding: 20px;
}

.screen-text-container {
    width: 250px;
}

.screen-text {
    font-weight: 700;
    text-align: center;
    font-size: 1.1em;
}

.screen-subtitle {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.6);
    text-align: justify;
}